{% extends "mycontacts/background.html" %}
{% load static %}

{% block content %}

        <!-- modal de confirmação de exclusão do contato -->

    <div id="modal-container" class="modal-container-closed">
            <div id="modal">
            <p id="warning-text">
                <h1 id="title">Tem certeza?</h1>
                Quando excluir, não será possivel recuperar o contato!
            </p>
            <div id="container-btn-confirm">
                <button class="btn-confirm"><a href="{% url 'contact_delete' contact_id=contact.id %}" id="anchor-ap">Sim</a></button>
                <button class="btn-confirm no" id="dont-delete">Não</button>
            </div>
        </div>
    </div>

    <div id="contact-container">
        <div id="contact">
            <div class="container-btn">
                <button id="btn-show">=</button>
        <!-- caixa dos btns CRUD. -->
                <div id="container-box-btn" class="box-closed">
                    <button class="btn-box edit">Editar</button>
                    <button class="btn-box" id="delete">excluir</button>
                </div>
            </div>
        <!-- caixa das informações de usuario. -->
            <div id="infos-container">
                <ul id="infos">
                    <li id="name">{{contact.name}}</li>
                    <li class="other-infos">{{contact.relation}}</li>
                    <li class="other-infos">{{contact.phone}}</li>
                    <li class="other-infos"><a id="email">{{contact.email}}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}