*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

#contact-container{
    width: 100%;
    height: 700px;

    position: absolute;
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact{
    border: 2px solid #EB4764;
    width: 500px;
    height: 700px;

    display: flex;
    align-items: center;
}

#infos-container{
    width: 100%;
    height: 550px;

    display: flex;
    justify-content: center;
}

#infos{
    list-style: none;
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 30px
}

#name{
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px
}

.other-infos{
    font-size: 18px;   
}

a, a:hover{
    color: #F86A83;
    cursor: pointer;
}