*{
    margin: 0;
    padding: 0;
}

.edit-confirm{
    margin-top: 10px;
}

#edit-btn-confirm{
    display: flex;
    gap: 10px;
}

.edit-confirm{
    background-color: #EB4764;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 70px;
    height: 30px; 
}

#edit-modal{
    background-color: #fff;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.modal-container-open, .edit-container-open{
    background-color: #00000050;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    z-index: 2;
    display: flex;
    position: absolute;
    justify-content: center;
}

.modal-container-closed{
    display: none;
}

.edit-container-closed{
    display: none;
}

#modal{
    background-color: #fff;
    width: 400px;
    height: 300px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#container-btn-confirm{
    display: flex;
    gap: 30px;
}

.btn-confirm{
    background-color: #EB4764;
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 50px;
    height: 30px; 
}

.no, .cancel{
    background-color: #ffb2bf;
}

#contact-container{
    width: 100%;
    height: 700px;

    position: absolute;
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact{
    border: 2px solid #EB4764;
    width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;
    gap: 10px
}

.container-btn{
    
	width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

#btn-show{
    font-size: 40px;
	background-color: transparent;
	color: #EE4664;
	border: none;
	width: 45px;
	height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-right: 3px;
}

#btn-show:hover{
	background-color: #ffe6ea;
    transition: .2s;
}

#container-box-btn{
    position: absolute; 
    padding-top: 45px;
    gap: 5px;
}

.box-open{
    display: flex;
    flex-direction: column;
    animation: box-open .3s;
}

.box-closed{
    display: none;
}

@keyframes box-open {
    from {
        opacity:0;
        transform:translate3d(0, -50px, 0)
    } to {
        opacity:1;
        transform:translate3d(0,0,0)
    }
}


.btn-box{
    color: #EE4664;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 30px;
}

.btn-box:hover{
    box-shadow: inset 0px 0px 0px 1px #EE4664;
    transition: .2s;
}

#anchor-ap{
    color: #fff;
    text-decoration: none;
}

#infos-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#infos{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

#name{
    font-size: 50px;
    margin-bottom: 20px
}

.other-infos{
    font-size: 18px;   
}

#email, #email:hover{
    color: #F86A83;
    cursor: pointer;
}